[submodule "external/HighMap"]
	path = external/HighMap
	url = https://github.com/Leonhardmaster2/HighMap.git
[submodule "external/args"]
	path = external/args
	url = git@github.com:Taywee/args.git
[submodule "external/GNodeGUI"]
	path = external/GNodeGUI
	url = https://github.com/Leonhardmaster2/GNodeGUI.git
[submodule "external/GNode"]
	path = external/GNode
	url = git@github.com:otto-link/GNode.git
[submodule "external/Attributes"]
	path = external/Attributes
	url = git@github.com:otto-link/Attributes.git
[submodule "external/QTerrainRenderer"]
	path = external/QTerrainRenderer
	url = https://github.com/Leonhardmaster2/QTerrainRenderer.git
[submodule "external/QTextureDownloader"]
	path = external/QTextureDownloader
	url = git@github.com:otto-link/QTextureDownloader.git
